<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <% if user_signed_in? %>
        <h3>Welcome <%= current_user.name %></h3>
        <p>Happy shooping...</p>
      <% else %>
        <h1>Welcome!</h1>
        <p>Register to get started.</p>
        <p>
          <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
        </p>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
  <div class="container" id="product">
    <p id="notice"><%= notice %></p>
    <h1>Books Catalog</h1>
    <br>
    <% @products.each do |product| %>
      <div class="col-md-2">
        <%= image_tag(product.image_url) %>
        <h3><%= product.title %></h3>
        
        <div class="price_line">
          <span class="price"><%= number_to_currency(product.price) %></span>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
<% end %>