<% content_for :top_content do %>
  <% if user_signed_in? %>
  <div class="alert-success welcome">
  <% else %>
  <div class="welcome2">
  <% end %>
    <div class="container">
      <% if user_signed_in? %>
          <!--h3>Welcome <%= current_user.name %></h3>
          <p style="font-style: italic;">Happy shooping...</p-->
      <% else %>
        <h1>Welcome!</h1>
        <p>Register to get started.</p>
        <p>
          <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
        </p>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
  <div class="container" id="product">
    <!--p id="notice"><%= notice %></p-->
    <h1>Books Catalog</h1>
    <br>
    <% cache @products do %>
      <% @products.each do |product| %>
        <% cache product do %>
          <div class="col-md-2 col-sm-2">
            <%= image_tag(product.image_url) %>
            <h3><%= product.title %></h3>
            
            <div class="price_line">
              <span class="price"><%= number_to_currency(product.price) %></span>
              <%= button_to 'Add to Cart', line_items_path(product_id: product),remote: true, class: 'btn btn-xs btn-success' %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="col-md-12">
    <%= paginate @products %>
    <%= page_entries_info @products %>
    </div>

  </div>
  <% end %>

<% end %>